<h2>A Culpeo says: YOU SHALL QUERY THE ISSUES</h2>
<form nz-form [nzLayout]="'inline'" [formGroup]="queryForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label>State</nz-form-label>
        <nz-form-control>
            <nz-radio-group formControlName="state">
                <label nz-radio-button [nzValue]="'opened'">Opened</label>
                <label nz-radio-button [nzValue]="'closed'">Closed</label>
                <label nz-radio-button [nzValue]="'all'">All</label>
            </nz-radio-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>Project</nz-form-label>
        <nz-form-control>
            <nz-tree-select formControlName="projects" [nzNodes]="gpList" [nzCheckable]="true" (ngModelChange)="onProjectChange($event);"></nz-tree-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>Author</nz-form-label>
        <nz-form-control>
            <nz-select formControlName="author" [nzAllowClear]="true">
                <nz-option *ngFor="let user of users" [nzLabel]="user.name" [nzValue]="user.id" [nzCustomContent]="true">
                    <img [src]="user.avatar_url">
                    <span>{{user.name}}</span>
                </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>Keyword</nz-form-label>
        <nz-form-control>
            <nz-input-group [nzSuffix]="clearInput">
                <input nz-input formControlName="keyword">
            </nz-input-group>
            <ng-template #clearInput>
                <i nz-icon type="close-circle" theme="outline" (click)="clearKeyword();" *ngIf="queryForm.controls['keyword'].value"></i>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <button nz-button nzType="primary">GoGoGo</button>
        </nz-form-control>
    </nz-form-item>
    <nz-form-split></nz-form-split>
    <nz-form-item>
        <nz-form-label>Scope</nz-form-label>
        <nz-form-control>
            <nz-radio-group formControlName="scope">
                <label nz-radio-button [nzValue]="'created_by_me'">By me</label>
                <label nz-radio-button [nzValue]="'assigned_to_me'">To me</label>
                <label nz-radio-button [nzValue]="'all'">All</label>
            </nz-radio-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>w/ Label</nz-form-label>
        <nz-form-control>
            <nz-tree-select formControlName="withLabels" [nzNodes]="labelNodes" [nzCheckable]="true"></nz-tree-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>w/o Label</nz-form-label>
        <nz-form-control>
            <nz-tree-select formControlName="withoutLabels" [nzNodes]="antiLabelNodes" [nzCheckable]="true"></nz-tree-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>or Label</nz-form-label>
        <nz-form-control>
            <nz-tree-select formControlName="orLabels" [nzNodes]="orLabelNodes" [nzCheckable]="true"></nz-tree-select>
        </nz-form-control>
    </nz-form-item>
</form>
<nz-table #table [nzData]="issueList" [nzLoading]="isLoading" [nzScroll]="{y:'630px'}" [nzShowTotal]="totalTemplate" (nzPageIndexChange)="onPageIndexChange();">
    <thead>
        <tr>
            <th nzWidth="1rem">☑</th>
            <th nzWidth="15rem">#️⃣</th>
            <th>📰</th>
            <th nzWidth="15rem">🏷</th>
            <th nzWidth="10rem">😁 🎉 😝</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of table.data">
            <td nzShowCheckbox (nzCheckedChange)="onIssueSelect($event,row);"></td>
            <td>
                <a [href]="row.web_url" target="_blank">{{row.reference}}</a>
            </td>
            <td class="title-cell">
                <i nz-icon [theme]="'twotone'" nz-tooltip [nzTitle]="row.state" [nzPlacement]="'left'" [type]="row.state=='opened'?'exclamation-circle':'minus-circle'" [twoToneColor]="row.state=='opened'?'#66ccff':'#ff3366'"></i>
                <span nz-tooltip [nzTitle]="row.title" [nzPlacement]="'topLeft'">{{row.title}}</span>
            </td>
            <td class="label-cell">
                <span nz-tooltip [nzTitle]="row.labels.join(' ')" [nzPlacement]="'topLeft'">
                    <span *ngFor="let lbl of row.labels;let isLast=last">
                        {{lbl.split(' ')[0]}}
                        <nz-divider nzType="vertical" *ngIf="!isLast"></nz-divider>
                    </span>
                </span>
            </td>
            <td>
                <a [href]="row.author.web_url" target="_blank" nz-tooltip [nzTitle]="'😁: '+row.author.name">
                    <img class="inline-avatar" [src]="row.author.avatar_url" [alt]="'😁: '+row.author.name">
                </a>
                <span *ngIf="row.assignees&&row.assignees.length>0">
                    🎉
                    <a *ngFor="let assignee of row.assignees" [href]="assignee.web_url" target="_blank" nz-tooltip [nzTitle]="'😝: '+assignee.name">
                        <img class="inline-avatar" [src]="assignee.avatar_url" [alt]="'😝: '+assignee.name">
                    </a>
                </span>
            </td>
        </tr>
    </tbody>
</nz-table>
<ng-template #totalTemplate let-total>
    <button nz-button nzType="primary" nzSize="small" [nzGhost]="selectedIssueList.length<1" nz-popconfirm nzTitle="ARE YOU SURE?" [nzCondition]="selectedIssueList.length<1" (nzOnConfirm)="updateIssueList('close');">Close</button>
    <button nz-button nzType="primary" nzSize="small" [nzGhost]="selectedIssueList.length<1" nz-popconfirm nzTitle="ARE YOU SURE?" [nzCondition]="selectedIssueList.length<1" (nzOnConfirm)="updateIssueList('reopen');">Reopen</button>
    Total: {{total}}
</ng-template>