form {
    padding: 1rem;
    nz-form-label {
        width: 4.5rem;
        text-align: left;
    }
    nz-tree-select,
    nz-select,
    input {
        width: 15vw;
    }
    nz-radio-group {
        width: 12vw;
        label {
            width: 4vw;
            text-align: center;
        }
    }
}
img.inline-avatar {
    width: 25px;
    border-radius: 50%;
}
.ant-table-tbody {
    &>tr>th,
    &>tr>td {
        user-select: none;
    }
    .title-cell {
        max-width: 50rem;
        white-space: nowrap;
        word-break: break-all;
        text-overflow: ellipsis;
        overflow: hidden;
        span {
            margin-left: 0.5rem;
        }
    }
    .label-cell {
        max-width: 15rem;
        white-space: nowrap;
        word-break: break-all;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
::ng-deep {
    .ant-table-fixed-header .ant-table-scroll .ant-table-header {
        overflow: auto;
        margin-bottom: 0 !important;
        padding-bottom: 0;
    }
    .ant-table-fixed-header>.ant-table-content>.ant-table-scroll>.ant-table-body {
        overflow-y: auto !important;
    }
    li.ant-pagination-total-text {
        button {
            margin-right: 1rem;
        }
    }
}