<h2>A Culpeo says: YOU SHALL TRANSFER THE ISSUES</h2>
<div>
    State:
    <nz-radio-group [(ngModel)]="state">
        <label nz-radio-button [nzValue]="'opened'">Opened</label>
        <label nz-radio-button [nzValue]="'closed'">Closed</label>
        <label nz-radio-button [nzValue]="'all'">All</label>
    </nz-radio-group>
    From:
    <nz-select [(ngModel)]="sourceMilestone">
        <nz-option-group nzLabel="Active">
            <nz-option *ngFor="let item of activeMilestones" [nzValue]="item" [nzLabel]="item.title"></nz-option>
        </nz-option-group>
        <nz-option-group nzLabel="Closed">
            <nz-option *ngFor="let item of closedMilestones" [nzValue]="item" [nzLabel]="item.title"></nz-option>
        </nz-option-group>
    </nz-select>
    To:
    <nz-select [(ngModel)]="targetMilestone">
        <nz-option-group nzLabel="Active">
            <nz-option *ngFor="let item of activeMilestones" [nzValue]="item" [nzLabel]="item.title"></nz-option>
        </nz-option-group>
        <nz-option-group nzLabel="Closed">
            <nz-option *ngFor="let item of closedMilestones" [nzValue]="item" [nzLabel]="item.title"></nz-option>
        </nz-option-group>
    </nz-select>
    <button nz-button nzType="primary" (click)="getIssues();">GoGoGo</button>
</div>
<nz-transfer (nzChange)="onTransfer($event);" [nzListStyle]="{'width.px': 630, 'height.px': 630}" [nzTitles]="[sourceMilestone?sourceMilestone.title:'',targetMilestone?targetMilestone.title:'']" [nzRender]="render" [nzDataSource]="transList">
    <ng-template #render let-item>
        <i nz-icon [theme]="'twotone'" nz-tooltip [nzTitle]="item.issue.state" [type]="item.issue.state=='opened'?'exclamation-circle':'minus-circle'" [twoToneColor]="item.issue.state=='opened'?'#66ccff':'#ff3366'"></i>
        <a [href]="item.issue.web_url" target="_blank">{{item.issue.web_url.replace(currentConfig.url+'/Byzan/','').replace('/issues/','#')}}</a>
        {{ item.title }}
    </ng-template>
</nz-transfer>