<nz-layout style="height:100%;">
    <nz-header>
        <img src="./assets/img/fox.png" style="height: 63%;cursor: pointer;" (click)="modalVisibility=true;">
        <span style="color:white;margin-left: 1rem;font-size: 1.5rem;cursor: pointer;user-select: none;text-transform: uppercase;font-weight: bold;" [routerLink]="'home'">Culpeo</span>
        <nz-modal [(nzVisible)]="modalVisibility" nzTitle="Culpeo Configration" [nzCancelText]="null" (nzOnCancel)="hideModal();" (nzOnOk)="saveConfig();">
            <form nz-form [nzLayout]="'vertical'">
                <nz-form-item>
                    <nz-form-label>GitLab URL</nz-form-label>
                    <nz-form-control>
                        <nz-input-group [nzSuffix]="clearUrl">
                            <input nz-input placeholder="http://git.iubang.com" required [(ngModel)]="currentConfig.url" [ngModelOptions]="{standalone: true}">
                        </nz-input-group>
                        <ng-template #clearUrl>
                            <i nz-icon type="close-circle" theme="outline" (click)="currentConfig.url=null" *ngIf="currentConfig.url"></i>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>
                        Personal Access Token
                        <a nz-button nzType="default" nzShape="circle" nzSize="small" [href]="currentConfig.url+'/profile/personal_access_tokens'" target="_blank">
                            <i nz-icon type="question" theme="outline"></i>
                        </a>
                    </nz-form-label>
                    <nz-form-control>
                        <nz-input-group [nzSuffix]="clearToken">
                            <input nz-input required [(ngModel)]="currentConfig.token" [ngModelOptions]="{standalone: true}">
                        </nz-input-group>
                        <ng-template #clearToken>
                            <i nz-icon type="close-circle" theme="outline" (click)="currentConfig.token=null" *ngIf="currentConfig.token"></i>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </nz-modal>
    </nz-header>
    <nz-layout>
        <nz-sider [nzWidth]="270">
            <ul nz-menu style="height: 100%;" nzMode="inline">
                <li nz-menu-item [routerLink]="'query'" [nzSelected]="router.url=='/query'">
                    <i nz-icon type="search" theme="outline"></i>
                    Query Issue
                </li>
                <li nz-menu-item [routerLink]="'transfer'" [nzSelected]="router.url=='/transfer'">
                    <i nz-icon type="swap" theme="outline"></i>
                    Transfer Issue
                </li>
                <li nz-menu-item [routerLink]="'fire'" [nzSelected]="router.url=='/fire'">
                    <i nz-icon type="fire" theme="outline"></i>
                    Coming Soon
                </li>
            </ul>
        </nz-sider>
        <nz-layout>
            <nz-content style="padding: 1rem;position: relative;">
                <router-outlet></router-outlet>
            </nz-content>
            <nz-footer>
                Created by a 🦊 for <a [href]="currentConfig.url" target="_blank">GitLab</a>
                <i nz-icon type="copyright" theme="outline" style="margin-left: 0.5rem;cursor: pointer;" (click)="creditModal.nzVisible=true;"></i>
                <nz-modal #creditModal nzTitle="Credit Info" [nzCancelText]="null" (nzOnCancel)="creditModal.nzVisible=false;" (nzOnOk)="creditModal.nzVisible=false;">
                    <div>
                        Icons made by
                        <a href="https://www.freepik.com/" title="Freepik">
                            Freepik
                        </a>
                        from
                        <a href="https://www.flaticon.com/" title="Flaticon">
                            www.flaticon.com
                        </a>
                        is licensed by
                        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
                            CC 3.0 BY
                        </a>
                    </div>
                </nz-modal>
            </nz-footer>
        </nz-layout>
    </nz-layout>
</nz-layout>