/* You can add global styles to this file, and also import other style files */
/*
  (IMAGE) PARAMS
  =================
  @mixin imgGlitch($name, $intensity, $width, $height, $top, $left)
  =================
  1. Namespace
  2. Intensity
  3. Width (px)
  4. Height (px)
  5. Top (px, abs pos)
  6. Left (px, abs pos)
*/
@mixin imgGlitch($name, $intensity, $width, $height, $top, $left) {
    $steps: $intensity;
    @at-root {
        @for $i from 1 through 2 {
            @keyframes #{$name}-anim-#{$i} {
                @for $i from 0 through $steps {
                    #{percentage($i*(1/$steps))} {
                        clip: rect(random($height)+px,
                            $width+px,
                            random($height)+px,
                            0);
                    }
                }
            }
        }
    }
    >img {
        position: absolute;
        top: $top+px;
        left: $left+px;
    }
    >img:nth-child(2),
    >img:nth-child(3) {
        clip: rect(0, 0, 0, 0);
    }
    >img:nth-child(2) {
        left: ($left + 2) + px;
        animation: #{$name}-anim-1 2s infinite linear alternate-reverse;
    }
    >img:nth-child(3) {
        left: ($left - 2) + px;
        animation: #{$name}-anim-2 3s infinite linear alternate-reverse;
    }
}
span.ant-tree-title {
    user-select: none;
}
nz-radio-group {
    label {
        user-select: none;
    }
}
.ant-select-tree {
    max-height: 36vh;
    overflow: auto;
}
.ant-tooltip {
    max-width: 540px;
}
.ant-tooltip-inner {
    word-break: break-all;
}
li[nz-option-li] {
    img {
        width: 36px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 1rem;
    }
}
.ant-layout-footer {
    padding: 12px 24px;
}